.ing-grid{
    display: grid;
    grid-template-rows: 30px auto;
}

.ing-display-n{
    display: none;
}

.ing-drop{
    display: flex;
    height: 100%;
    align-items: center;
    justify-self: flex-end;
    z-index: 0 !important;
}

.ing-drop > button{
    border: 0;
    background-color: var(--logo-color-light) !important;
}

.ing-drop > button:hover {
    border: 0;
    background-color: var(--logo-color-dark) !important;
}

.dropdown-menu > .dropdown-item {
    font-size: 1em;
}

.dropdown-menu > .dropdown-item:hover {
    font-weight: 600;
}

.ing-content-form{
    margin-top: 20px;
}
