.s-body_index { 
    height: auto;
    width: 100vw;
    max-width: calc(100vw - 22.7vw);
    margin-left: 22.7vw;
    background-color: var(--background-gray);
}
.s-content{
    background-color: var(--background-gray);
    margin: 15px;
    display: grid;
    height: max-content !important;
    min-height: calc(100vh - 100px - 30px);
    grid-template-rows: 80px auto;
    row-gap: 2px;
    padding-right: 10px;
}

.s-box-head{
    background-color: var(--background-white);
    padding: 15px;
    display: flex;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid var(--background-gray);
    max-height: 80px;
}
.s-text-head{
    font-size: 1.6em;
    font-weight: 600;
    color: var(--text-dark);
}

.s-box-list{
    display: block;
}
.s-box-list-2{
    padding: 15px;
    background-color: var(--background-white);
    height: max-content;
}
.form-header{
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
}
.form-header-name{
    font-weight: bold;
    font-size: 1.2em;
}
.form-center{
    text-align: center;
}
.form-element{
    border-top: 1px solid var(--background-gray);
    padding-top: 10px;
    align-content: center;
    align-items: center;
}
.sol-box-element{
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr 1fr;
    align-items: center;
    border: 2px solid var(--background-gray);
    background-color: var(--background-white);
}

.sol-box-name{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0;
    margin: 0;
}
.s-box-foto{
    grid-row: 1/3;
    padding-left: 5px;
}
.s-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.sol-box-nombre{
    font-size: 1em;
    font-weight: 700;
    display: flex;
    height: 70px;
    align-items: center;
    align-content: center;
    align-self: center;
    color: var(--text-dark);
}
.s-box-email{
    display: flex;
    align-items: flex-start;
    font-size: .8em;
    color: var(--text-gray);
}
.s-status{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 10px;
    border-radius: 50px;
    font-weight: 700;
}
.s-txt-fecha{
    display: flex;
    align-self: center;
    justify-content: center;
    color: var(--text-gray);
    font-size: .9em;
    font-weight: 500;
}
.s-txt-edit{
    color: var(--text-gray);
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-self: center;
    justify-content: center;
}

.s-status-generada{
    background: rgb(55,189,52);
    background: linear-gradient(117deg, rgba(55,189,52,1) 0%, rgba(132,226,46,1) 100%);
}

.s-status-pendiente{
    background: rgb(188,160,48);
    background: linear-gradient(117deg, rgba(188,160,48,1) 0%, rgba(227,208,47,1) 100%);
}

.s-float-icon {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 200px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: black;
    right: 15px;
    bottom: 15px;
    /* cursor: pointer; */
    border: 1px solid var(--background-gray);
}



@media only screen and (max-width: 768px){
    .s-body_index { 
      margin-left: 1vw;
      max-width: 98vw;
      width: 98vw;
    }
    .s-content{
        margin-bottom: 35px;
    }
    
  }
  
  
  @media only screen and (max-width: 450px){
  
    .s-body_index { 
      width: 100vw;
      margin: 0;
      max-width: 100vw;
      height: auto;
    }
    .s-status{
        margin: 0px 6px 0px 4px;
        font-weight: 700;
        padding-left: 20px;
        font-size: .8em;
        justify-content: flex-start;
        letter-spacing: 10px;
        
        padding: 0 0px 0 6px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .s-txt-fecha{
        font-size: .7em;
        font-weight: 500;
    }
    .s-txt-edit{
        font-size: .8em;
        font-weight: 600;
    }
    .s-text-head{
        font-size: 1.4em;
    }
    .s-content{
        grid-template-rows: 60px auto;
    }
    .s-box-element{
        grid-template-columns: 6fr 1fr 2fr 2fr;
    }
    .s-box-nombre{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .s-box-email{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .s-float-icon { 
        font-size: 1.8em;
        border-radius: 200px;
        width: 45px;
        height: 45px;
    }
  }
