.v-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-info {
    width: 80%;
    height: 100%;
    background-color: var(--background-white);
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.v-header {
    display: grid;
    grid-template-columns: 70% 30%;
}

.v-text-header {
    display: flex;
    text-align: start;
    align-items: center;
    padding: 30px;
    padding-left: 50px;
    font-size: 3em;
    font-weight: 500;

}

.v-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.v-data {
    display: block;
    padding: 15px;
    margin-bottom: 50px;
}

.v-row {
    height: 80px;
    display: flex;
    width: 100%;
    margin: 10px;
    padding-left: 20px;
}

.v-column {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.v-folio {
    display: flex;
    font-size: 2em;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-right: 80px;
}

.v-text-b {
    display: flex;
    align-items: center;
    font-size: 2.2em;
    margin-right: 10px;
}

.v-text {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: 400;
}

.v-descrip {
    display: flex;
    font-size: .7em;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
}

@media only screen and (max-width: 450px) {
    .v-info {
        width: 100%;
        height: 100%;
        background-color: var(--background-white);
        display: grid;
        grid-template-rows: 1fr 3fr;
    }

    .v-header {
        grid-template-columns: 60% 40%;
    }

    .v-text-header {
        padding: 20px;
        padding-left: 20px;
        font-size: 1.6em;
        font-weight: 700;
    }

    .v-logo {
        padding-right: 5px;
    }

    .v-data {
        padding: 5px;
        margin-bottom: 10px;
    }

    .v-row {
        margin: 0px;
        padding-left: 20px;
    }

    .v-column{
        grid-template-columns: 1fr;
        height: 160px;
    }
    .v-folio {
        font-size: 1.5em;
        padding-right: 10px;
    }

    .v-text-b {
        font-size: 1.4em;
        margin-right: 5px;
    }

    .v-text {
        font-size: 1.2em;
    }

    .v-descrip {
        font-size: .6em;
        padding-right: 10px;
        text-align: end;
    }


}